.movie-card {
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem lightgray);
    margin: 20px 10px;
    position: relative;
    line-height: 1.1;
} 

.movie-card-img {
    width: 102px;
    height: 100px;
    border-radius: 10px;
    top: 18px;
    left: 14px;
    position: absolute;
}

.movie-desc {
    position: absolute;
    top: 18px;
    left: 145px;
}

.btn-genres {
    background-color: #EAAC99;
    border-radius: 10px;
    margin: 3px;
    padding: 5px;
}